:root {
  --bg-color: #343a40;
  --card-color: #495057;

  --accent: #1f7a8c;
  --accent-hover: #1c9eb8;
  --accent-light: rgba(31, 122, 140, 0.1);

  --text-primary: #ced4da;
  --text-muted: #adb5bd;

  --border: 2px solid var(--accent);
  --shadow-sm: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 8px 16px rgba(0, 0, 0, 0.4);
}

html {
  scrollbar-width: thin;
  scrollbar-color: #1f7a8c transparent;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: "Roboto Mono", monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.dot-grid.dot-grid-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
