:root {
  --bg-color: #343a40;
  --card-color: #495057;

  --accent: #1f7a8c;
  --accent-hover: #1c9eb8;
  --accent-light: rgba(31, 122, 140, 0.1);

  --text-color: #ced4da;
  --text-muted: #adb5bd;

  --border: 2px solid var(--accent);
  --shadow-sm: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 8px 16px rgba(0, 0, 0, 0.4);
}
